@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Inter', sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-rose-bud-cherry-50: #fef1f9;
  --color-rose-bud-cherry-100: #fee5f4;
  --color-rose-bud-cherry-200: #ffcaeb;
  --color-rose-bud-cherry-300: #ff9fd9;
  --color-rose-bud-cherry-400: #ff64be;
  --color-rose-bud-cherry-500: #fe36a2;
  --color-rose-bud-cherry-600: #ee147f;
  --color-rose-bud-cherry-700: #d00663;
  --color-rose-bud-cherry-800: #ab0951;
  --color-rose-bud-cherry-900: #890c44;
  --color-rose-bud-cherry-950: #580026;


}
